
.container {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;

}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  text-align: left;
  font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" off;
}
.skn-cba2 table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

.skn-cba2 span.jobtitle,
.skn-cba2 span.companyname,
.skn-cba2 span.degree {
  font-weight: bold;
}
.skn-cba2 .txt-nrml {
  font-weight: 400;
}
.skn-cba2 span.paddedline {
  display: block;
}
.skn-cba2 .nodisplay,
.skn-cba2 .logo {
  display: none;
}
.skn-cba2 .txtBold {
  font-weight: bold;
}
.skn-cba2 .flt-right {
  float: right;
}
.skn-cba2 .dispInBlk {
  display: inline-block !important;
}
.skn-cba2 .maxWidth {
  max-width: 100%;
}
.skn-cba2 .bottom-space {
  padding-bottom: 5px;
}
.skn-cba2 .brk-all {
  word-break: break-all;
}

.skn-cba2 {
  word-wrap: break-word;
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  color: #000;
  min-height: 792px;
}
.skn-cba2 ul,
.skn-cba2 li {
  list-style-type: disc;
  margin: 0 0 0 10px;
  padding: 0;
}
.skn-cba2 ul li {
  margin: 0 0 5px 10px;
}
.skn-cba2 ul li:last-child {
  margin-bottom: 0;
}
.skn-cba2 .address li,
.skn-cba2 .address ul,
.skn-cba2 .adnlLnks li,
.skn-cba2 .adnlLnks ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
.skn-cba2 .address li:before,
.skn-cba2 .adnlLnks li:before {
  content: "\25C6\0020";
  vertical-align: bottom;
  padding: 0 10px;
}
.skn-cba2 .address li.first:before,
.skn-cba2 .address li:first-child:before,
.skn-cba2 .adnlLnks li:first-child:before {
  content: " ";
}

.skn-cba2 .lowerborder {
  border-bottom: 1px solid;
  margin: 1px 0 2px 0;
  display: block;
}
.skn-cba2 .lowerborder2 {
  border-top: 3px solid;
  display: block;
}
.skn-cba2 .SECTION_CNTC,
.skn-cba2 .SECTION_ALNK {
  margin-top: 0;
}
.skn-cba2 .address.new-fields {
  padding-bottom: 10px;
}
.skn-cba2 .firstsection.section {
  margin-top: 0;
}
.skn-cba2 .name {
  font-size: 15px;
  line-height: 17px;
  padding-top: 10px;
  font-weight: bold;
  border-top: 1px solid;
  text-align: center;
  font-variant: small-caps;
}
.skn-cba2 .resumeTitle {
  text-align: center;
  color: #4a4a4a;
}
.skn-cba2 .paragraph {
  position: relative;
}
.skn-cba2 .heading {
  width: 100%;
  flex-grow: 1;
  clear: both;
  text-align: center;
  font-weight: normal;
  font-variant: small-caps;
  position: relative;
  font-size: initial;
}
.skn-cba2 .heading:before {
  border-top: 1px solid black;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}
.skn-cba2 .section {
  position: relative;
}
.skn-cba2 .sectiontitle {
  display: inline-block;
  position: relative;
  z-index: 5;
  background: #fff;
  padding: 0 10px;
}
.skn-cba2 .address {
  position: relative;
  text-align: center;
  font-size: 0.917em;
  line-height: 1.25em;
  padding-top: 11px;
}
.skn-cba2 .adnlLnks {
  text-align: center;
}
.skn-cba2 .address2 {
  position: relative;
  text-align: left;
  font-size: 0.917em;
  line-height: 1.25em;
}
.skn-cba2 .table_wrapper {
  width: 100%;
  margin-top: 0;
}
.skn-cba2 .skill {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.skn-cba2 table.twocol td {
  width: 50%;
  vertical-align: top;
  display: table-cell;
}
.skn-cba2 table.skills th,
.skn-cba2 table.skills td {
  width: 20%;
  text-align: center;
}
.skn-cba2 table.skills th {
  text-decoration: underline;
}
.skn-cba2 table.skills .skillname,
.skn-cba2 table.skills .skillrating {
  text-align: left;
  width: 35%;
}
.skn-cba2 table.skills .skillrating {
  width: 20%;
}
.skn-cba2 table.skills .skillyears,
.skn-cba2 table.skills .skilllast {
  width: 19%;
}
.skn-cba2 table.skills .pad1 {
  width: 5%;
}
.skn-cba2 table.skills .pad2,
.skn-cba2 table.skills .pad3 {
  width: 1%;
}
.skn-cba2 .paragraph-fieldgroup .address {
  padding-bottom: 10px;
}
.skn-cba2 .address .fieldgroup {
  display: block;
}
.skn-cba2 .address .fieldgroup:nth-child(2) {
  padding-top: 8px;
  display: inline-block;
}
.skn-cba2 .address .fieldgroup:nth-child(2):empty {
  display: none;
}

/*Personal details section*/
.skn-cba2 .pdet-sec .singlecolumn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skn-cba2 .details-wrap {
  width: 49%;
  margin-bottom: 5px;
}
.skn-cba2 .details-wrap:nth-last-child(1),
.skn-cba2 .details-wrap:nth-last-child(2) {
  margin-bottom: 0;
}

/*FIX for FORCEFULLY making left margin ZERO for CL*/
.skn-cba2 .sectionCL .paragraph {
  margin-top: 0;
}

/* Style for Signature */
.skn-cba2 .disclaim .singlecolumn,
.skn-cba2 .signPic > .field_sign {
  margin-left: 0;
}
.skn-cba2 .disclaim .singlecolumn,
.skn-cba2 .disclaim .singlecolumn li,
.skn-cba2 .disclaim .singlecolumn p,
.skn-cba2 .disclaim .singlecolumn span {
  font-size: 9px;
  color: #8a8a8a;
}
.skn-cba2 .field_sign {
  font-size: 7px;
  color: #8a8a8a;
}
.skn-cba2 .txtleft + .field_sign {
  text-align: left;
}
.skn-cba2 .txtcenter + .field_sign {
  text-align: center;
}
.skn-cba2 .txtright + .field_sign {
  text-align: right;
}
.skn-cba2 .signPic span:first-child {
  padding-right: 6px;
}
.skn-cba2 .signPic img {
  padding-top: 5px;
  max-width: 100%;
}

/*MES and MFR address order code*/
.skn-cba2 .zipprefix,
.skn-cba2.MES .zipsuffix,
.skn-cba2.MFR .zipsuffix {
  display: none !important;
}
.skn-cba2 .zipsuffix,
.skn-cba2.MES .zipprefix,
.skn-cba2.MFR .zipprefix {
  display: inline !important;
}
.skn-cba2.MDE .hide-de {
  display: none;
}

/*Infographic*/
.skn-cba2 .lang-sec,
.skn-cba2 .skli-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skn-cba2 .lang-sec .field *,
.skn-cba2 .lang-sec .nativeLangPara .field,
.skn-cba2 .skli-sec .field * {
  display: inline;
}
.skn-cba2 .lang-sec .paragraph,
.skn-cba2 .skli-sec .paragraph {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  margin-top: 0;
}
.skn-cba2 .lang-sec .singlecolumn,
.skn-cba2 .skli-sec .singlecolumn {
  margin-left: 0;
  position: relative;
}
.skn-cba2 .rating-bar {
  background: #d5d6d6;
  width: 100%;
  clear: both;
  margin-top: 3px;
  overflow: hidden;
}
.skn-cba2 .lang-sec .paragraph.nativeLangPara {
  width: 100%;
}
.skn-cba2 .inner-rating {
  background-color: #000;
  height: 4px;
  width: 60%;
}
.skn-cba2 .lang-sec > .paragraph:nth-last-child(1),
.skn-cba2 .lang-sec > .paragraph:nth-last-child(2),
.skn-cba2 .skli-sec > .paragraph:nth-last-child(1),
.skn-cba2 .skli-sec > .paragraph:nth-last-child(2) {
  padding-bottom: 0;
}
.skn-cba2 .hide-bar .rating-bar,
.skn-cba2 .hide-colon .colon,
.skn-cba2 .hide-only-bar .rating-bar {
  display: none;
}
.skn-cba2
  .skli-sec
  .paragraph:nth-last-child(1)
  .singlecolumn
  .field:last-child,
.skn-cba2
  .skli-sec
  .paragraph:nth-last-child(2)
  .singlecolumn
  .field:last-child {
  min-height: 0;
}

/*HILT multi para/section*/
.skn-cba2 .multi-para-hilt:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
} /*Clearfix*/
.skn-cba2 .multi-para-hilt .paragraph {
  margin-bottom: 15px;
  margin-top: 0;
  width: 49%;
  float: left;
}


.clearfix{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.skn-cba2 .multi-para-hilt .paragraph:last-child,
.skn-cba2 .multi-para-hilt .paragraph:nth-last-child(2):nth-child(2n) {
  margin-bottom: 0;
}
.skn-cba2 .multi-para-hilt .paragraph:nth-child(2n + 1) {
  margin-left: 2%;
}
.skn-cba2 .multi-para-hilt .paragraph:nth-child(2n) {
  clear: left;
}
.skn-cba2 .multi-para-hilt .singlecolumn {
  margin: 0;
}
.skn-cba2 .multi-section-hilt .multi-para-opt,
.skn-cba2
  .section:not(.multi-para-hilt):not(.multi-section-hilt)
  .multi-para-opt,
.skn-cba2 .multi-para-hilt .twocol.skill {
  display: none;
}
.skn-cba2 .multi-para-content .bottom-space {
  display: block;
}
.skn-cba2 .para-head {
  margin-bottom: 5px;
}

/*For Extra Space Before Colon*/
.skn-cba2 .beforecolonspace {
  display: none !important;
}
.skn-cba2.MFR .beforecolonspace {
  display: inline !important;
}

/* GRYR */
.skn-cba2 .displayNoneThisField {
  display: none;
} /* Keep this class always at bottom */

/* Text alignment bullet */
.skn-cba2 .ttc-align-left ul {
  text-align: left;
}
.skn-cba2 .ttc-align-right ul {
  text-align: right;
}
.skn-cba2 .ttc-align-center ul {
  text-align: center;
}
.skn-cba2 .ttc-align-justify ul {
  text-align: justify;
}
.skn-cba2 .ttc-align-right li,
.skn-cba2 .ttc-align-center li {
  position: relative;
  list-style-position: inside;
  margin-left: 0;
}
.skn-cba2:not(.for-pdf) .ttc-align-right li:first-letter,
.skn-cba2:not(.for-pdf) .ttc-align-center li:first-letter {
  margin-left: -6px;
}

.skn-cba2,
.skn-cba2 table {
  line-height: 13px;
}
.skn-cba2.pagesize {
  width: 542px;
}
.skn-cba2.fontsize,
.skn-cba2 .lang-sec .paragraph *,
.skn-cba2 .skli-sec .paragraph * {
  font-size: 10px;
}
.skn-cba2.fontface {
  font-family: Times New Roman;
}
.skn-cba2.vmargins {
  padding-top: 18px;
  padding-bottom: 18px;
}
.skn-cba2.hmargins {
  padding-left: 35px;
  padding-right: 35px;
}
.skn-cba2 .section {
  margin-top: 15px;
}
.skn-cba2 .sectiontitle {
  font-size: 14px;
  line-height: 17px;
}
.skn-cba2 .heading {
  margin-bottom: 5px;
}
.skn-cba2 .paragraph {
  margin-top: 10px;
}
.skn-cba2 .firstparagraph {
  margin-top: 0;
}
.skn-cba2 .singlecolumn,
.skn-cba2 .maincolumn {
  margin-left: 0px;
}
.skn-cba2 table.skills td {
  padding-top: 5px;
}
.skn-cba2 .name {
  font-size: 22px;
  line-height: 34px;
}
.skn-cba2 .resumeTitle {
  font-size: 14px;
  line-height: 29px;
  padding: 0 0 15px 0;
}
.skn-cba2 .address {
  font-size: 9px;
  line-height: 12px;
  padding-top: 9px;
}
.skn-cba2 .address li:before,
.skn-cba2 .adnlLnks li:before {
  font-size: 8px;
}
.skn-cba2 .name,
.skn-cba2 .sectiontitle {
  color: #000000;
}
.skn-cba2 .lowerborder,
.skn-cba2 .lowerborder2,
.skn-cba2 .heading:before {
  border-color: #000000;
}
.skn-cba2 .skli-sec .singlecolumn .field:last-child {
  min-height: 13px;
}

/* Style for Signature */
.skn-cba2 .disclaim {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.skn-cba2 .disclaim .heading {
  margin-bottom: 3px;
}

/*FIX for Re-calculating width of singlecolumn for CL*/
.skn-cba2 .sectionCL .singlecolumn {
  margin-left: 0;
  width: 100%;
}
.skn-cba2 .address2 {
  font-size: 10px;
  line-height: 13px;
}

/*Infographic*/
.skn-cba2 .lang-sec,
.skn-cba2 .skli-sec,
.skn-cba2 .multi-para-hilt {
  padding-left: 0px;
}
.skn-cba2 .lang-sec .heading,
.skn-cba2 .skli-sec .heading,
.skn-cba2 .multi-para-hilt .heading {
  margin-left: -0px;
}
.skn-cba2 .lang-sec .paragraph,
.skn-cba2 .skli-sec .paragraph {
  width: 48.3%;
}
.skn-cba2 .lang-sec .heading,
.skn-cba2 .skli-sec .heading {
  width: calc(100% + 0px);
}
.skn-cba2 .inner-rating {
  background-color: #000000;
}
.skn-cba2 .lang-sec .sortable-item,
.skn-cba2 .skli-sec .sortable-item {
  vertical-align: top;
}

/*Finalize Fixes*/
.skn-cba2 .sortable-item i.far.fa-check {
  font-family: "Font Awesome 5 Pro";
}
.page-finalize
  .skn-cba2
  .sortableInner
  .paragraph-container
  + .paragraph-container {
  margin: 0;
}
.skn-cba2 .data-LNGG .doc-item,
.skn-cba2 .data-SKLI .doc-item {
  width: 100%;

}

.skn-cba2 .data-LNGG .sortableInner,
.skn-cba2 .data-SKLI .sortableInner,
.skn-cba2 .SECTION_LNGG .sortableInner,
.skn-cba2 .SECTION-SKLI .sortableInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skn-cba2 .data-LNGG .sortable-item,
.skn-cba2 .data-SKLI .sortable-item {
  width: 48.3%;
}
.skn-cba2 .data-LNGG .sortable-item .paragraph,
.skn-cba2 .data-SKLI .sortable-item .paragraph {
  width: 100%;
  max-width: 100%;
}
.skn-cba2 .lang-sec .native-lang {
  width: 100%;
}

/*Fixes for builder for skill*/
.skn-cba2
  .skli-sec
  .sortable-item
  .paragraph:last-child
  .singlecolumn
  .field:last-child {
  min-height: 13px;
}
.skn-cba2
  .skli-sec
  .sortable-item:nth-last-child(1)
  .paragraph
  .singlecolumn
  .field:last-child,
.skn-cba2
  .skli-sec
  .sortable-item:nth-last-child(2)
  .paragraph
  .singlecolumn
  .field:last-child {
  min-height: 0;
}
.skn-cba2
  .lang-sec
  .sortableInner
  > .sortable-item:nth-last-child(1)
  .paragraph,
.skn-cba2
  .lang-sec
  .sortableInner
  > .sortable-item:nth-last-child(2)
  .paragraph,
.skn-cba2
  .skli-sec
  .sortableInner
  > .sortable-item:nth-last-child(1)
  .paragraph,
.skn-cba2
  .skli-sec
  .sortableInner
  > .sortable-item:nth-last-child(2)
  .paragraph {
  padding-bottom: 0 !important;
}

/*PDF Flex Handling Code - Personal Information*/
.skn-cba2.for-pdf .pdfpdwrapper {
  display: block;
}
.skn-cba2.for-pdf .pdfpdwrapper .details-wrap:first-child {
  float: left;
  padding-right: 5px;
}
.skn-cba2.for-pdf .pdfpdwrapper .details-wrap:nth-child(2) {
  float: right;
}
.skn-cba2.for-pdf .pdfpdwrapper .details-wrap {
  width: 268px !important;
  padding-bottom: 5px !important;
}

/*CSS for Infographic PDFWrapper*/
.skn-cba2.for-pdf .lang-sec,
.skn-cba2.for-pdf .skli-sec {
  display: block;
}
.skn-cba2.for-pdf .section .pdfinfwrapper {
  display: block;
  width: 100%;
}
.skn-cba2.for-pdf .section .pdfinfwrapper:after {
  content: "";
  clear: both;
  display: table;
}
.skn-cba2.for-pdf .section .pdfinfwrapper .paragraph:first-child {
  float: left;
}
.skn-cba2.for-pdf .section .pdfinfwrapper .paragraph:nth-child(2) {
  float: right;
}
.skn-cba2.for-pdf .section .pdfinfwrapper .paragraph {
  margin-bottom: 5px;
  padding-bottom: 0px;
}
.skn-cba2.for-pdf .section .pdfinfwrapper:last-child .paragraph {
  margin-bottom: 0;
}
.skn-cba2.for-pdf .section .pdfinfwrapper .paragraph {
  clear: none;
}
